.lightZone {
    background-color: #dbdfe2; /* Light background color */
    color: #212529; /* Dark text color */
}
.darkZone {
    background-color: #212529; /* Dark background color */
    color: #dbdfe2; /* Light text color */
}

.lightZone h1{
    font-size: 38px;
    border-bottom: solid 2px #212529;
}
.darkZone h1{
    font-size: 38px;
    border-bottom: solid 2px #dbdfe2;
}

@font-face {
    font-family: 'sensation';
    src: url(fonts/Sansation_Regular.ttf);
}

header span{
    font-family: 'sensation';
    font-size: 38px;
}

.container {
    border: solid 2px #161617;
}
img{
    margin-left: 15px;
}
